@font-face {
    font-family: 'DejaVuSansMonoBold';
    src: url('fonts/DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/DejaVuSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 12pt;
    font-family: 'DejaVuSansMonoBold';
}


pre, code {font-family: DejaVuSansMono;}


div#menu {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 10px;
}
div#content {
        display: inline-block;
	width:100%;
	max-width:700px;
}
a {color:black;
   text-decoration:underline;
  }

a:visited: {color:black;}

img{width:100%;
    max-width:700px;}

/* menu */
li.menu_sections, li.menu_items {
    list-style-type: none;
}

li ul {display:none; } /*see interaction.js for menu interaction */


