<!DOCTYPE HTML>
<html>
  <head>    
    <meta charset="utf8">
    <title>{{ title }}</title>    
    <link rel="stylesheet" href="../../lib/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="../../lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../lib/interaction.js"></script>

  </head>

  <body>
    <div id="header"></div>

    <div id="menu">{{ menu }}</div>  

    <div id="content">{{ content }}</div>  

    <div id="footer"></div>

    
  </body>
</html>
